<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}
.background-img {
  background-repeat: no-repeat;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-group {
  position: absolute;
  left: 80px;
  top: 20px;
}
.button {
  border: 1vh;
  color: red;
}

.blocks .btn-primary {
  padding: 24px 12px;
  margin: 0 5px;
  border-radius: 0;
}

.btngrp li:first-child {
  border-radius: 6px 6px 0 0;
  border-top-width: 2px;
}
.btngrp li:last-child {
  border-radius: 0 0 6px 6px;
}
.allsongs {
  padding-top: 100px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.button-center {
  padding-top: 10px;
  margin: 0 auto;
  clear: left;
  height: auto;
  z-index: 0;
  text-align: center;
  position: relative;
}
.allsongs-button {
  margin-right: 2px;
  padding-right: 2px;
}

.card {
  margin-bottom: 30px;
  width: "100%";
}

.higlightButton {
  border-color: black !important;
  background-color: red !important;
}

.inputTextBox {
  width: "100%";
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  clear: left;
  height: auto;
  z-index: 0;
  text-align: center;
  position: relative;
}

.errorText {
  color: red !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
